<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css"
          rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.js"></script>
    <script src="103.searchfilter.js"></script>
</head>
<link rel="stylesheet" type="text/css" href="css/103.searchfilter.css"/>
<body ng-controller="myController">
search<input type="text" placeholder="search Employees" ng-model="searchText"></input>
<!--if you want to search across only one field
search<input type="text" placeholder="search Employees" ng-model="searchText.name"></input>-->
<table class="table table-bordered">
    <tr>
        <thead class="one tablecolors" style="cursor:pointer">
        <td ng-click="sortData('name')">Name</td>
        <td ng-click="sortData('dateOfBirth')">DOB</td>
        <td ng-click="sortData('gender')">Gender</td>
        <td ng-click="sortData('salary')">Salary</td>

        </thead>
    </tr>
    <tbody>
    <tr ng-repeat="employee in employees | filter:searchText">
        <td>{{employee.name|uppercase}}</td>
        <td>{{employee.dateOfBirth|date:"MM/dd/yyyy"}}</td>
        <td>{{employee.gender|lowercase}}</td>
        <td>{{employee.salary|number}}</td>
    </tr>
    <tbody>
</table>

</body>
</html>