<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css"
          rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.js"></script>
    <script src="112.anchorscroll.js"></script>
</head>

<body ng-controller="myController">

<button id="top" ng-click="scrollTo('buttom')">Go to the buttom of the page</button>
<br>Following are some of the key reasons to choose AngularJS as you web development framework:

It uses MVC design pattern which allows segregating an application into different components (called Model, View, and
Controller) thus making it easy to maintain.
It allows extending the HTML by attaching directives to your HTML markup. This provides the capability to define new
powerful templates having new attributes, tags, and expressions.
It allows you to create your own directives and also make reusable components. Directives help the developer to
concentrate on creating logic, thus enabling them to work efficiently.
It supports two-way data binding i.e. enables automatic synchronization of data between model and view components. Thus,
any update in the model gets reflected in the view automatically. And there is no need to add any Javascript code or
event listeners to reflect the data changes.
It encapsulates the behavior of your application in controllers which gets instantiated with the help of dependency
injection.
It supports built-in services that perform the common tasks for web applications. For example, it provides $http service
to communicate with REST service.
It makes the development and testing of the application’s JavaScript code easy.
Also, AngularJS has a mature community to help the developers. It has wide support over the internet</br>

whenever a web page loads in the browser, following steps execute in the background. </br>

<br>First, the HTML file containing the code gets loaded into the browser. After that, the JavaScript file mentioned in
the HTML code gets loaded. It then creates a global object for angular. Now, the JavaScript which displays the
controller functions gets executed.
In this step, AngularJS browses the complete HTML code to locate the views. If a view is found, it is linked it to the
corresponding controller function.
In this step, AngularJS initiates the execution of required controller functions. Next, it populates the views with data
from the model identified by the controller. With this the page is ready.<br>

<br>Following are some of the key reasons to choose AngularJS as you web development framework:

It uses MVC design pattern which allows segregating an application into different components (called Model, View, and
Controller) thus making it easy to maintain.
It allows extending the HTML by attaching directives to your HTML markup. This provides the capability to define new
powerful templates having new attributes, tags, and expressions.
It allows you to create your own directives and also make reusable components. Directives help the developer to
concentrate on creating logic, thus enabling them to work efficiently.
It supports two-way data binding i.e. enables automatic synchronization of data between model and view components. Thus,
any update in the model gets reflected in the view automatically. And there is no need to add any Javascript code or
event listeners to reflect the data changes.
It encapsulates the behavior of your application in controllers which gets instantiated with the help of dependency
injection.
It supports built-in services that perform the common tasks for web applications. For example, it provides $http service
to communicate with REST service.
It makes the development and testing of the application’s JavaScript code easy.
Also, AngularJS has a mature community to help the developers. It has wide support over the internet</br>

whenever a web page loads in the browser, following steps execute in the background. </br>

<br>First, the HTML file containing the code gets loaded into the browser. After that, the JavaScript file mentioned in
the HTML code gets loaded. It then creates a global object for angular. Now, the JavaScript which displays the
controller functions gets executed.
In this step, AngularJS browses the complete HTML code to locate the views. If a view is found, it is linked it to the
corresponding controller function.
In this step, AngularJS initiates the execution of required controller functions. Next, it populates the views with data
from the model identified by the controller. With this the page is ready.<br>
<br>Following are some of the key reasons to choose AngularJS as you web development framework:

It uses MVC design pattern which allows segregating an application into different components (called Model, View, and
Controller) thus making it easy to maintain.
It allows extending the HTML by attaching directives to your HTML markup. This provides the capability to define new
powerful templates having new attributes, tags, and expressions.
It allows you to create your own directives and also make reusable components. Directives help the developer to
concentrate on creating logic, thus enabling them to work efficiently.
It supports two-way data binding i.e. enables automatic synchronization of data between model and view components. Thus,
any update in the model gets reflected in the view automatically. And there is no need to add any Javascript code or
event listeners to reflect the data changes.
It encapsulates the behavior of your application in controllers which gets instantiated with the help of dependency
injection.
It supports built-in services that perform the common tasks for web applications. For example, it provides $http service
to communicate with REST service.
It makes the development and testing of the application’s JavaScript code easy.
Also, AngularJS has a mature community to help the developers. It has wide support over the internet</br>

whenever a web page loads in the browser, following steps execute in the background. </br>

<br>First, the HTML file containing the code gets loaded into the browser. After that, the JavaScript file mentioned in
the HTML code gets loaded. It then creates a global object for angular. Now, the JavaScript which displays the
controller functions gets executed.
In this step, AngularJS browses the complete HTML code to locate the views. If a view is found, it is linked it to the
corresponding controller function.
In this step, AngularJS initiates the execution of required controller functions. Next, it populates the views with data
from the model identified by the controller. With this the page is ready.<br>

<br>Following are some of the key reasons to choose AngularJS as you web development framework:

It uses MVC design pattern which allows segregating an application into different components (called Model, View, and
Controller) thus making it easy to maintain.
It allows extending the HTML by attaching directives to your HTML markup. This provides the capability to define new
powerful templates having new attributes, tags, and expressions.
It allows you to create your own directives and also make reusable components. Directives help the developer to
concentrate on creating logic, thus enabling them to work efficiently.
It supports two-way data binding i.e. enables automatic synchronization of data between model and view components. Thus,
any update in the model gets reflected in the view automatically. And there is no need to add any Javascript code or
event listeners to reflect the data changes.
It encapsulates the behavior of your application in controllers which gets instantiated with the help of dependency
injection.
It supports built-in services that perform the common tasks for web applications. For example, it provides $http service
to communicate with REST service.
It makes the development and testing of the application’s JavaScript code easy.
Also, AngularJS has a mature community to help the developers. It has wide support over the internet</br>

whenever a web page loads in the browser, following steps execute in the background. </br>

<br>First, the HTML file containing the code gets loaded into the browser. After that, the JavaScript file mentioned in
the HTML code gets loaded. It then creates a global object for angular. Now, the JavaScript which displays the
controller functions gets executed.
In this step, AngularJS browses the complete HTML code to locate the views. If a view is found, it is linked it to the
corresponding controller function.
In this step, AngularJS initiates the execution of required controller functions. Next, it populates the views with data
from the model identified by the controller. With this the page is ready.<br>
<br>Following are some of the key reasons to choose AngularJS as you web development framework:

It uses MVC design pattern which allows segregating an application into different components (called Model, View, and
Controller) thus making it easy to maintain.
It allows extending the HTML by attaching directives to your HTML markup. This provides the capability to define new
powerful templates having new attributes, tags, and expressions.
It allows you to create your own directives and also make reusable components. Directives help the developer to
concentrate on creating logic, thus enabling them to work efficiently.
It supports two-way data binding i.e. enables automatic synchronization of data between model and view components. Thus,
any update in the model gets reflected in the view automatically. And there is no need to add any Javascript code or
event listeners to reflect the data changes.
It encapsulates the behavior of your application in controllers which gets instantiated with the help of dependency
injection.
It supports built-in services that perform the common tasks for web applications. For example, it provides $http service
to communicate with REST service.
It makes the development and testing of the application’s JavaScript code easy.
Also, AngularJS has a mature community to help the developers. It has wide support over the internet</br>

whenever a web page loads in the browser, following steps execute in the background. </br>

<br>First, the HTML file containing the code gets loaded into the browser. After that, the JavaScript file mentioned in
the HTML code gets loaded. It then creates a global object for angular. Now, the JavaScript which displays the
controller functions gets executed.
In this step, AngularJS browses the complete HTML code to locate the views. If a view is found, it is linked it to the
corresponding controller function.
In this step, AngularJS initiates the execution of required controller functions. Next, it populates the views with data
from the model identified by the controller. With this the page is ready.<br>

<button id="buttom" ng-click="scrollTo('top')">Go to the up of the page</button>
</body>
</html>