<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css"
          rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.js"></script>
    <script src="107.ng-show_ng-hide.js"></script>
</head>

<body ng-controller="myController">
hide City<input type="checkbox" ng-model="hideCity"></input>
<table class="table table-bordered">
    <tr>
        <thead class="one tablecolors" style="cursor:pointer">
        <td>Name</td>
        <td>Gender</td>
        <td>Salary</td>
        <td ng-hide="hideCity">City</td>
        <!-- <td ng-show="hideCity">City</td> -->
        </thead>
    </tr>
    <tbody>
    <tr ng-repeat="employee in employees">
        <td>{{employee.name}}</td>
        <td>{{employee.gender}}</td>
        <td>{{employee.salary}}</td>
        <td ng-hide="hideCity">{{employee.city}}</td>
        <!-- <td  ng-show="hideCity">#######</td> -->
    </tr>
    <tbody>
</table>

</body>
</html>